<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MasterLogistik</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body class="page-id-"
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="36.png" alt="boss" width="200" height="150" style='position:center'>
          <img src="37.png" alt="mechanik" width="100" height="150" style='position:absolute;left:30px;top:150px;'>
          <img src="38.png" alt="boss2" width="170" height="150" style='position:absolute;right:30px;bottom:5px;'>
          <img src="40.png" alt="logist" width="200" height="150" style='position:absolute;right:30px;top:150px;'>
          <img src="41.png" alt="logist" width="150" height="150" style='position:absolute;left:30px;bottom:5px;'>
          <img src="42.png" alt="secretary" width="200" height="150" style='position:absolute;left:600px;bottom:5px;'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    </div>
  </div>
</div>

  </body>
</html>
